/*
https://coolors.co/ffdf3b-5c80bc-65cc5b-f7faff-f4e8c1
*/

/* admin start */
.alert-fixed {
  position:fixed; 
  top: 1%; 
  margin-right: auto;
  margin-left: auto;
  right: 0;
  left: 0;
  width: 40%;
  z-index:9999;
}

/* admin end */

.headbar{
  background-color: #EDF3F9;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1)
}


.black-link{
  color:black;
  text-decoration:none;
}

.black-link:hover{
  color:black;
  text-decoration:none;
}

.star-img{
  width:1.25rem;
  cursor: pointer;
}

.mobile-show{
  display: none;
}
.mobile-row {
  padding-left:5%;
  padding-right:5%;
}

.pointer_img{
  cursor: pointer;
}

.square {
    height:0;width:100%;padding-bottom:100%;background-color:#e8e8e8
}


.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none !important;
}

.btn-outline-primary {
  color:#5C80BC;
  background-color: #fff;
  border-color: #5C80BC;
}
.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary.active{
  color: #fff !important;
  background-color: #5C80BC !important;
  border-color: #5C80BC !important;
}

.btn-outline-secondary {
  background-color: #fff;
}
.btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary.active{
  color: #6c757d !important;
  background-color: #EFF2F7 !important;
}

.btn-outline-success,.btn-outline-success:hover{
    color: #65CC5B;
    border-color:#65CC5B;
    background-color: #fff;
}

.btn-outline-success.active{
    background-color:#65CC5B !important;
    color:#fff !important;
    border-color:#65CC5B !important;
}
/*#6BD861*/

.suggest-form-label {
  font-size: 18px;
  text-align: center;
}

.preview-img-wrap {
  width: 100px;
  margin: 6px;
  display: block;
}

.close-wrap {
  backgound-color: #fff;
}

.close-icon {
  position: absolute;
  right: 10px;
  top: 0px;
  width: 32px;
  height: 32px;
  opacity: 0.8;
  background-color: #ffffff;
}

.close-icon:before, .close-icon:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #000;
}
.close-icon:before {
  transform: rotate(45deg);
}
.close-icon:after {
  transform: rotate(-45deg);
}

.menu-img-wrap{
  overflow-x: auto;
  white-space: nowrap;
}

.scrollbox {
  position:relative;
  z-index: 100000;
			overflow: auto;
			background:
				linear-gradient(90deg, #EFF2F7 0%, rgba(239, 242, 247, 1)),
				linear-gradient(-90deg, #EFF2F7 0%, rgba(239, 242, 247, 1)) 100% 0,
				radial-gradient(
					farthest-side at 0% 50%,
					rgba(0,0,0,.2),
					rgba(0,0,0,0)
				),
				radial-gradient(
					farthest-side at 100% 50%,
					rgba(0,0,0,.2),
					rgba(0,0,0,0)
				) 100% 0%;
			background-repeat: no-repeat;
			background-size: 100px 100%, 100px 100%, 14px 100%, 14px 100%;
			background-attachment: local, local, scroll, scroll;
		}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width: 768px) {
  .mobile-col {
    padding-left:2%;
    padding-right:2%;
  }
  .star-img{
    width:1.20rem;
  }
  .card-body{
    padding:0.8rem;
  }
  .mobile-hide{
    display: none;
  }
  h3{
    font-size:1.50rem;
  }
  h5{
    font-size:1.1rem;
  }
  
}

@media (min-width: 992px) {
  .search-input{
    float:right;
    width:240px;
  }
}


@media (min-width: 768px) and (max-width: 992px) {
  .search-input{
    float:right;
    width:180px;
  }
  .suggest-form-label {
    text-align: left;
  }
}

@media (max-width: 768px) {
  .label-row{
    overflow-x: auto;
    white-space: nowrap;
  }
  .mobile-show{
    display: block;
  }
  .alert-fixed {
    width:80%;
  }
  .suggest-form-label {
    text-align: left;
  }
}